

#product-overview{
    background: url("../Images/ragnarok.jpg") left 10% top 10%/cover no-repeat border-box;
    width: 100vw;
    height: 33vh;
    margin-top: 1rem;
    position: relative;  
}

#product-overview h1{ /*Id selector(section tag)*/
    color: white;
    font-size: 1.87rem;
    position: absolute;
    top: 76%;
    left: 1.25rem;;
    bottom: 0px;
    
   
}


.section-title{  /*Classes Style(h1 tag)*/
    color: #2ddf5c;
    text-align: center;
   
}


.plan__list{
    width: 80%;
    margin: auto;
    text-align: center;

}

.plan{
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    
}

.plan--highlighted{
    background: #0c8633;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation{
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
   
}

.plan__title{
    color: #0e4f1f;
}

.plan__price{
    color: gray;
}

.plan--highlighted .plan__title{
    color:white;
}

.plan--highlighted .plan__price{
    color:#023710;
}

.plan__features{
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan__feature{
    margin: 0.5rem 0;
}

#key--features{
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
    
}

    
#key--features .section-title{
    color: white;
    margin: 2rem;
}

.key--features__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image{
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.25rem;

}

.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;

}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }













/*Cascading Style sheets & Specificity

Cascading: Multiple Rules can apply to the same Element


Specificity: Resolve Conflicts arising from multiple rules
*Inline Styles
*#ID selectors
*.class, :pseudo-class and attribute selectors
*

Whenever we have a IDs, class selector they have prioritanze 
rather than any other element

*/





/* COMBINATORS 
Where you use an element and a specificity

Type of combinators

Adjacent Sibling  div + p{}
General Sibling div ~ p {}
Child div > p {}
Descendant div p {}
*/
/*      Selectors
-div
-.section-title(class type)
-#header(id type)
-[disabled]
-[type="text"]
-* (Universal selector)
*/
/*      Properties
-background-color
-color
-width
-margin
-display

Worth to remember-----
Color:
background-color:
display:
padding:
border:
margin:
width:
height:

*/
/*      Values
Values are tightly coupled to specific property!

Types of values: Pre-defined options, Colors, Length Sizes Numbers,
Functions.

Examples.....
-red
-30%
-#fa923f
-rgb(250, 250, 250)
-10px
-block
-transform scale

*/
/* Shorthand Properties

------Separate properties-------
border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: 20px;

------Shorthand properties------
border: 5px solid black;
margin: 5px(top) 10px(right) 5px(bottom) 10px(left);

*/
/*Pseudo Clases & Pseudo Elements
        -class  :hover
pseudo-
        -element
*/

/**/


