/*Cascading Style sheets & Specificity

Cascading: Multiple Rules can apply to the same Element


Specificity: Resolve Conflicts arising from multiple rules
*Inline Styles
*#ID selectors
*.class, :pseudo-class and attribute selectors
*

Whenever we have a IDs, class selector they have prioritanze 
rather than any other element

*/

* {
    box-sizing: border-box;/*Universal */
}

body{ /* Element*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}

#product-overview{ /*Id selector(section tag)*/
    background: rgb(255, 0, 0);
    width: 50%;
    height: 400px;
    padding: 10px;
    border: 5px solid black;
    margin: 5px;
    
    

}

.section-title{  /*Classes Style(h1 tag)*/
    color: greenyellow;
   
}



#plans{ /*Id selector(section tag)*/

    }









/* COMBINATORS 
Where you use an element and a specificity

Type of combinators

Adjacent Sibling  div + p{}
General Sibling div ~ p {}
Child div > p {}
Descendant div p {}
*/
/*      Selectors
-div
-.section-title(class type)
-#header(id type)
-[disabled]
-[type="text"]
-* (Universal selector)
*/
/*      Properties
-background-color
-color
-width
-margin
-display
*/
/*      Values
Values are tightly coupled to specific property!

Types of values: Pre-defined options, Colors, Length Sizes Numbers,
Functions.

Examples.....
-red
-30%
-#fa923f
-rgb(250, 250, 250)
-10px
-block
-transform scale

*/


/* Shorthand Properties

------Separate properties-------
border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: 20px;

------Shorthand properties------
border: 5px solid black;
margin: 5px(top) 10px(right) 5px(bottom) 10px(left);

*/

/*h1{
   color: rgb(184, 175, 54);
    font-family: Georgia, 'Times New Roman', Times, serif;
}*/

/**/


